@media (min-width:600px) {
    .cardDiv {
        display: flex;
        flex-wrap: wrap !important;
        margin-left: 70px;
    }

    .card {
        max-width: 30%;
        margin: 20px;
    }
}

.card {
    /* max-width: 20%; */
    margin: 10px;
}